body {
    background-color: #433368;
    font-family: helvetica;
    color: white;
}

.page-heading {
    color: #61c7ce;
    font-size: 3em;
    margin: 15px 0px 0px 30px;
    border-bottom: 3px solid white;
}

.my-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    display: inline-block;
    margin-right: 15px;
}

.fb-click{
    background-color: #3b5998;
    height: 75px;
    margin: 100px 0px 0px 0px;
    padding: 0px 3px 0px 0px;
    min-width: 250px;
    border-radius: 0%;
    color: white;
}

.email-click{
    background-color: #ADD8E6;
    height: 75px;
    margin: 0px 0px 0px 0px;
    min-width: 250px;
    border-radius: 0%;
    color: white;
}

.profile-button {
    background-color: #a47dff;
    font-size: 20px;
    padding: 5px;
    color: white;
}

.big-words {
    font-size: 25px;
    color: white;
    margin: 50px 0px 50px 0px;
}
.sign-in {
    color: white;
    margin-top: 50px;
}
.home-nav-box {
    height: 100px;
    width: 100px;
    background-color: #7092ff;
    margin: 0px 0px 25px 0px;
    border-radius: 7%;
    text-align: center;
    color: white;
    padding: 35px 0px 0px 0px;
}
.possible_answer {
    background: #7092ff;
}
.possible_answer:hover {
    background: #6a66e8;
}
.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
}

.wrong-answer {
	background: #FF8362;	
}
.wrong-answer:hover {
	background: #FF8362;	
}

.correct-answer {
    background: #62DA97;
}
.correct-answer:hover {
    background: #62DA97;
}
.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
    background: #62DA97;
}
.log-in-submit {
    font-size: 20px;
    margin-left: 20px;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    background-color: #ADD8E6;
    border: none;
    padding: 13px 0px 0px 17px;
}